-r requirements.txt

# test and code inspection tools
flake8
pytest>=7.4.0
pytest-dependency>=0.5.1
assertpy>=1.1
pytest-cov>=4.1.0

# keeping project nice and clean (sometimes migrations fail due to leftover __pycache__
pyclean

# api development with more interaction
jupyterlab
jupyterlab-lsp
jedi-language-server
